In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Problem-1

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
fare_df=df['Fare']
fare_df.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [ ]:
class_age = df[['Pclass','Age']]
class_age.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
survived_gender = df[['Survived','Sex']]
survived_gender.head(5)

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem-2_Subsetting Rows

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

In [ ]:
fare_gt_100= df[df['Fare'] > 100]['Fare']
fare_gt_100.head()

27     263.0000
31     146.5208
88     263.0000
118    247.5208
195    146.5208
Name: Fare, dtype: float64

In [ ]:
first_class = df[df['Pclass'] ==1]['Pclass']
first_class.head()

1     1
3     1
6     1
11    1
23    1
Name: Pclass, dtype: int64

In [ ]:
female_under_18=df[(df['Age'] < 18)&(df['Sex'] == 'female')][['Age','Sex']]
female_under_18.head()

     Age     Sex
9   14.0  female
10   4.0  female
14  14.0  female
22  15.0  female
24   8.0  female

Problem-2_Subsetting Rows by Categorical variables

In [ ]:
import pandas as pd

In [ ]:
embarked_c_or_s=df[df['Embarked'].isin(['C','S'])]['Embarked']
embarked_c_or_s.head()

0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object

In [ ]:
new_var = [1,2]
first_second_class=df[df['Pclass'].isin(new_var)]['Pclass']
first_second_class.head()

1     1
3     1
6     1
9     2
11    1
Name: Pclass, dtype: int64

3.2 Exploratory Data Analysis Practice Exercise - 1.

Which passenger had the highest fare paid relative to their age?

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

In [ ]:
df['fare_per_year']=df['Fare']/df['Age']
fare_per_year.head()

0    0.329545
1    1.875876
2    0.304808
3    1.517143
4    0.230000
dtype: float64

In [ ]:
high_fare_age = df[df['fare_per_year'] > 5]
high_fare_age.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_class,fare_per_year
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,7.025000,10.537500
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,9.708333,14.562500
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,263.000000,13.842105
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,20.789600,13.859733
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S,13.229167,5.669643

In [ ]:
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
high_fare_age_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_class,fare_per_year
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,151.550000,164.728261
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,151.550000,75.775000
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,15.633333,46.900000
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,13.229167,39.687500
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,19.500000,39.000000

In [ ]:
result = high_fare_age_srt[['Name', 'fare_per_year']]
result.head()

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df['fare_per_class']=df['Fare']/df['Pclass']
fare_per_class.head()

0     2.416667
1    71.283300
2     2.641667
3    53.100000
4     2.683333
dtype: float64

In [ ]:
adult_males=df[(df['Sex'] == 'male')&(df['Age'] >= 18)][['Name', 'Sex','Age', 'fare_per_class']]
#female_under_18=df[(df['Age'] < 18)&(df['Sex'] == 'female')][['Age','Sex']]
adult_males.head()

                              Name   Sex   Age  fare_per_class
0          Braund, Mr. Owen Harris  male  22.0        2.416667
4         Allen, Mr. William Henry  male  35.0        2.683333
6          McCarthy, Mr. Timothy J  male  54.0       51.862500
12  Saundercock, Mr. William Henry  male  20.0        2.683333
13     Andersson, Mr. Anders Johan  male  39.0       10.425000

In [ ]:
adult_males_srt=adult_males.sort_values(by='fare_per_class', ascending=False)
adult_males_srt.head()

                                   Name   Sex   Age  fare_per_class
737              Lesurer, Mr. Gustave J  male  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  male  36.0        512.3292
27       Fortune, Mr. Charles Alexander  male  19.0        263.0000
438                   Fortune, Mr. Mark  male  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  male  24.0        247.5208

In [ ]:
result = adult_males_srt[['Name','Age','fare_per_class']]
result.head()

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

What percent of the total fare revenue came from each passenger class?

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

In [ ]:
total_fare=df['Fare'].sum()
total_fare

28693.9493

In [ ]:
first_class_p=df[(df['Pclass'] == 1)]
total_fare_first_class_p=first_class_p['Fare'].sum()
total_fare_first_class_p

18177.4125

In [ ]:
second_class_p=df[(df['Pclass'] == 2)]
total_fare_second_class_p=second_class_p['Fare'].sum()
total_fare_second_class_p

3801.8417

In [ ]:
third_class_p=df[(df['Pclass'] == 3)]
total_fare_third_class_p=third_class_p['Fare'].sum()
total_fare_third_class_p

6714.6951

In [ ]:
combined_fare_list=[total_fare_first_class_p,total_fare_second_class_p,total_fare_third_class_p]
combined_fare_list

[18177.4125, 3801.8417, 6714.6951]

In [ ]:
percentage_first_class=(total_fare_first_class_p/total_fare)*100
percentage_second_class=(total_fare_second_class_p/total_fare)*100
percentage_third_class=(total_fare_third_class_p/total_fare)*100

print(f"Percentage of first class fare is {percentage_first_class} %")
print(f"Percentage of second class fare is {percentage_second_class} %")
print(f"Percentage of third class fare is {percentage_third_class} %")

Percentage of first class fare is 63.349287718996564 %
Percentage of second class fare is 13.24962855496507 %
Percentage of third class fare is 23.401083726038365 %

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

In [ ]:
df['age_group'] = pd.cut(df['Age'], bins=[-1, 17, 64, float('inf')], labels=["child", "adult", "senior"])
print(df['age_group'].head(10))

0    adult
1    adult
2    adult
3    adult
4    adult
5      NaN
6    adult
7    child
8    adult
9    child
Name: age_group, dtype: category
Categories (3, object): ['child' < 'adult' < 'senior']

In [ ]:
total_passangers=df['Name'].count()
total_passangers

891

In [ ]:
age_group_counts = df['age group'].value_counts()
age_group_counts

age group
adult     590
child     113
senior     11
Name: count, dtype: int64

In [ ]:
age_group_proportions=(age_group_counts/total_passangers)*100
age_group_proportions

age group
adult     66.217733
child     12.682379
senior     1.234568
Name: count, dtype: float64